{% extends "base.html" %}



{% block content %}

    <section class="service2" style="margin-top: 5rem; display: flex; flex-direction: column; align-items: center; justify-content: center;">

        <div class="img-grid">
            <div class="img1">
                <img src="media/woman-crying-while-sharing-emotions-with-psychoana-PQQS9W2.jpg" alt="">
            </div>
            <div class="img2">
                <div class="inner1 inner">
                    <img src="media/couples counceling.jpg" alt="">
                </div>
                <div class="inner2 inner"> <div class=""><h3>Our Services</h3></div>
                </div>
                
                <!-- <img src="" alt=""> -->
            </div>
        </div>

        
    </section>




    <section class="services">
        <div class="container">
            <!-- <p class="sub-head">What I Do</p> -->
            <!-- <h2>Counseling & Therapy Services</h2> -->

            <div class="service-body">

                <div class="card five">
                    <img loading="lazy" src="media/compassion fatigue.jpg" alt="">
                    <h3>Compassion fatigue</h3>
                    <p>Compassion fatigue therapy focuses on helping caregivers and professionals manage emotional
                        exhaustion, build resilience, and restore balance in their lives.</p>
                    <a href="" class="btn3">Learn More</a>
                </div>
                <div class="card one">
                    <img loading="lazy" src="media/therapy 2.jpg" alt="">
                    <h3>Individual Therapy</h3>
                    <p>Individual therapy is a one-on-one session with a therapist to work through personal issues and
                        develop coping strategies.</p>
                    <a href="" class="btn3">Learn More</a>
                </div>
                <div class="card two">
                    <img loading="lazy" src="media/Relationship therapy.jpg" alt="">
                    <h3>Relationship </h3>
                    <p>Relationship therapy focuses on improving communication, resolving conflicts, and strengthening
                        the bond between partners to foster a healthier relationship.</p>
                    <a href="" class="btn3">Learn More</a>
                </div>
                <div class="card three">
                    <img loading="lazy" src="media/family conflict.jpg" alt="">
                    <h3>Family conflicts</h3>
                    <p>Family therapy focuses on addressing conflicts, enhancing communication, and building stronger
                        relationships among family members to promote a supportive and harmonious environment.</p>
                    <a href="" class="btn3">Learn More</a>
                </div>
                <div class="card four">
                    <img loading="lazy" src="media/parenting issues.jpg" alt="">
                    <h3>parenting issues</h3>
                    <p>Parenting therapy focuses on addressing challenges in parenting, improving communication with
                        children, and fostering a positive and nurturing family environment.</p>
                    <a href="" class="btn3">Learn More</a>
                </div>

                <div class="card five">
                    <img loading="lazy" src="media/compassion fatigue.jpg" alt="">
                    <h3>Compassion fatigue</h3>
                    <p>Compassion fatigue therapy focuses on helping caregivers and professionals manage emotional
                        exhaustion, build resilience, and restore balance in their lives.</p>
                    <a href="" class="btn3">Learn More</a>
                </div>
            </div>



        </div>
    </section>


{% endblock %}