{% extends "base.html" %}

{% load static %}

{% block content %}

    <section class="service2" style="margin-top: 5rem; display: flex; flex-direction: column; align-items: center; justify-content: center;">

        <div class="img-grid">
            <div class="img1">
                <img src="{% static 'media/woman-crying-while-sharing-emotions-with-psychoana-PQQS9W2.jpg' %}" alt="">
            </div>
            <div class="img2">
                <div class="inner1 inner">
                    <img src="{% static 'media/couples counceling.jpg' %}" alt="">
                </div>
                <div class="inner2 inner"> <div class=""><h3>Our Services</h3></div>
                </div>
                
                <!-- <img src="" alt=""> -->
            </div>
        </div>

        
    </section>




    <section class="services">
        <div class="container">
            <!-- <p class="sub-head">What I Do</p> -->
            <!-- <h2>Counseling & Therapy Services</h2> -->

            <div class="service-body">

       
                {% for service in services %}
                <div class="card ">
                    <img loading="lazy" src="{{service.image.url}}" alt="">
                    <h3>{{service.name}}</h3>
                    <p>{{service.short_description}}</p>
                    <a href="" class="btn3">Learn More</a>
                </div>
               {% endfor %}
                
            </div>



        </div>
    </section>


{% endblock %}